@use '@/assets/variables' as *;

.popover {
    margin-top: 12px; padding: 8px;
    background-color: $white; color: $black;
    border-radius: $BR_big;
    box-shadow: $SH_smooth, $SH_subtle;
    font-size: 1em; font-family: $FONTS;
    animation: $TR_slow popover-pop;
}
.popover-arrow {
    z-index: -1;
    top: -12px;
    width: 24px; height: 24px;
    margin-left: -0.5px;
    transform: rotate(45deg);
    background-color: $white;
    border-radius: calc($BR_regular / 2);
}
@keyframes popover-pop {
    0% {
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.popover-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popover-item {
    @include flex-center;
    gap: 4px;
    align-items: stretch;
    min-height: 32px;

    & > label {
        text-align: left;
    }

    & > input, button, label {
        align-content: center;
        flex: 1;
    }

    & > hr {
        margin: 0 4px;
        border: none;
        width: 2px; height: auto;
        background-color: $accent-light;
    }
}

.color-controls {
    display: flex;
    flex-direction: row;
}
