@use '@/assets/variables' as *;

.popover {
    padding: 8px;
    background-color: $white; color: $dark_bg;
    border-radius: $BR_big;
    box-shadow: $SH_smooth, $SH_subtle;
    font-size: 1em; font-family: $FONTS;
    animation: $TR_slow popover-pop;
}

.popover-arrow {
    z-index: -1;
    width: 24px; height: 24px;
    margin-left: -0.5px;
    background-color: $white;
    border-radius: calc($BR_regular / 2);

    &.top {
        transform: translateY(-12px) rotate(45deg);
    }
    &.bottom {
        transform: translateY(12px) rotate(45deg);
    }
    &.left {
        transform: translateX(-12px) rotate(45deg);
    }
    &.right {
        transform: translateX(12px) rotate(45deg);
    }
}

@keyframes popover-pop {
    0% {
        transform: translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.popover-content {
    display: flex; flex-direction: column;
    gap: 4px;
}

.popover-item {
    @include flex-center;
    gap: 4px;
    align-items: stretch;
    min-height: 32px;
    line-height: calc(200% - 2px);

    & > label {
        text-align: left;
    }

    & > input, button, label {
        align-content: center;
        flex: 1;
    }

    & > hr {
        margin: 0 4px;
        border: none;
        width: 2px; height: auto;
        background-color: $accent-light;
    }
}

.tooltip {
    padding: 4px;
    background-color: $accent_bg; color: $white;
    border-radius: $BR_regular;
    font-size: .76em; font-family: $FONTS;
    pointer-events: none;
    z-index: 999;

    display: none;

    @media (hover: hover) and (pointer: fine) {
        display: unset;
    }
}
