@use 'sass:color';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive-width {
    width: 100%;
    @media (min-width: 800px) {
        width: 80vw;
    }
    @media (min-width: 1280px) {
        width: 64vw;
    }
    @media (min-width: 1920px) {
        width: 1200px;
    }
}


$FONTS: system-ui, sans-serif;

$FW_bold: 700;
$FW_normal: 500;
$FW_thin: 300;

$BR_regular: 4px;
$BR_big: 8px;
$BR_round: 1280px;

$TR_fancy: 1s;
$TR_slow: .33s;
$TR_regular: .2s;
$TR_fast: .066s;

$SH_regular: 0 2px 4px #0002;
$SH_subtle: 0 0 2px #0006;
$SH_smooth: 0 4px 12px #0001;


$dark: #333;
$dark_60: color.change($dark, $alpha: 60%);
$dark_20: color.change($dark, $alpha: 20%);

$dark_em: #181818bb;
$dark_bg: #111;

$white: #fff;
$white_80: color.change($white, $alpha: 80%);
$white_50: color.change($white, $alpha: 50%);
$white_30: color.change($white, $alpha: 30%);
$white_20: color.change($white, $alpha: 20%);

$error: #dd3939;
$error_30: color.change($error, $alpha: 30%);

$success: #77d452;
$success_30: color.change($success, $alpha: 30%);

$accent-dark: #151942;
$accent-dark_80: color.change($accent-dark, $alpha: 80%);
$accent-dark_60: color.change($accent-dark, $alpha: 60%);
$accent-dark_50: color.change($accent-dark, $alpha: 50%);
$accent-dark_25: color.change($accent-dark, $alpha: 25%);

$accent_bg: color.mix(color.change($dark, $alpha: 80%), $accent-dark, $weight: 66%);

$accent-light: #a1a3b3;
$accent-light_50: color.change($accent-light, $alpha: 50%);
$accent-light_25: color.change($accent-light, $alpha: 25%);

$trans: color.change($white, $alpha: 0%);
